.mybox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mybox input{
    margin: 15px;
}
.responseItem {
    list-style: none;
    font-weight: bold;
    line-height: 2em;
}
#reloadLink{
    margin: 30px auto;
    padding: 8px 12px;
    font-weight: bold;
    font-size: 20px ;
    text-decoration: none !important;
    color: white;
    background-color: #000;
}

